<!DOCTYPE html>
<html lang="en">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>

<title> Royal Enfield - India </title>
<meta name="description" content="Welcome to Royal Enfield">
<link rel="shortcut icon" href="images/fav.png">
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/datepicker.css">
	<link rel="stylesheet" type="text/css" href="css/form.css">

</head>

<body class="re-master">
	<div class="form-container">
		<h1>Tour of Indonesia</h1>
        <h3>Hai {First Name}, silakan isi formulir ini untuk melengkapi aplikasi Anda</h3>

		<form action="">

            <h3>Ceritakan lebih banyak tentang pengalaman perjalanan anda</h3>

            <div class="desktop-txt">
                <h3>Mohon unggah dokumen dijelaskan dalam format ZIP</h3>

                <ol class="list-txt">
                    <li>Pindai Photo seukuran Photo Paspor.</li>
                    <li>fotokopi paspor anda (Halaman Pertama, Halaman Terakhir dan Halaman Visa yang berlaku - HANYA UNTUK PESERTA GLOBAL.</li>
                    <li>Riwayat Kesehatan dari <a href="" style="text-decoration: underline !important;" download="">Dokter</a> dan <a href="" style="text-decoration: underline !important;" download="">Diri Sendiri</a></li>
                    <li>Fotokopi SIM Anda.</li>
                    <li>Pindai fotokopi peraturan asuransi medis yang berlaku selama perjalanan.</li>
                    <li>Fotokopi <a href="" style="text-decoration: underline !important;" download="">indemnity bond</a></li>
                    <li>Pindai fotokopi STNK dan Asuransi yang berlaku selama perjalanan.</li>
                </ol>
            </div>


            <div class="form-group file-wrapper desktop-upload">
                <div class="file-group">
                    <label><input type="file" name="fields[]"></label>
                    <span>Unggah data</span>
                    <input type="text" placeholder="* .ZIP, .RAR (Size below 12 MB)" readonly="">
                </div>
                <div class="alert">Harap Unggah dokumen Anda</div>
            </div>



            <div class="form-group file-wrapper mobile-upload">
                <h3>Unggah dokumen yang disebutkan di bawah ini.</h3>
                <p class="file-txt">Pindai Photo seukuran Photo Paspor.</p>
                <div class="file-group">
                    <label><input type="file" name="fields[]"></label>
                    <span>Unggah data</span>
                    <input type="text" placeholder="* .JPEG, .JPG, .PNG, .BMP, .GIF, .PDF (Size below 5 MB)" readonly="">
                    <div class="alert">Harap Unggah dokumen Anda</div>
                </div>

                <p class="file-txt">fotokopi paspor anda (Halaman Pertama, Halaman Terakhir dan Halaman Visa yang berlaku - HANYA UNTUK PESERTA GLOBAL</p>
                <div class="file-group">
                    <label><input type="file" name="fields[]"></label>
                    <span>Unggah data</span>
                    <input type="text" placeholder="* .JPEG, .JPG, .PNG, .BMP, .GIF, .PDF (Size below 5 MB)" readonly="">
                    <div class="alert">Harap Unggah dokumen Anda</div>
                </div>

                <p class="file-txt">Riwayat Kesehatan dari <a href="" style="text-decoration: underline !important;" download="">Dokter</a> dan <a href="" style="text-decoration: underline !important;" download="">Diri Sendiri</a></p>
                <div class="file-group">
                    <label><input type="file" name="fields[]"></label>
                    <span>Unggah data</span>
                    <input type="text" placeholder="* .JPEG, .JPG, .PNG, .BMP, .GIF, .PDF (Size below 5 MB)" readonly="">
                    <div class="alert">Harap Unggah dokumen Anda</div>
                </div>

                <p class="file-txt">Fotokopi SIM Anda.</p>
                <div class="file-group">
                    <label><input type="file" name="fields[]"></label>
                    <span>Unggah data</span>
                    <input type="text" placeholder="* .JPEG, .JPG, .PNG, .BMP, .GIF, .PDF (Size below 5 MB) " readonly="">
                    <div class="alert">Harap Unggah dokumen Anda</div>
                </div>

                <p class="file-txt">Pindai fotokopi peraturan asuransi medis yang berlaku selama perjalanan.</p>
                <div class="file-group">
                    <label><input type="file" name="fields[]"></label>
                    <span>Unggah data</span>
                    <input type="text" placeholder="* .JPEG, .JPG, .PNG, .BMP, .GIF, .PDF (Size below 5 MB) " readonly="">
                    <div class="alert">Harap Unggah dokumen Anda</div>
                </div>

                <p class="file-txt">Pindai fotokopi STNK dan Asuransi yang berlaku selama perjalanan.</p>
                <div class="file-group">
                    <label><input type="file" name="fields[]"></label>
                    <span>Unggah data</span>
                    <input type="text" placeholder="* .JPEG, .JPG, .PNG, .BMP, .GIF, .PDF (Size below 5 MB) " readonly="">
                    <div class="alert">Harap Unggah dokumen Anda</div>
                </div>

                <p class="file-txt">Scan Copy of <a href="" style="text-decoration: underline !important;" download="">indemnity bond</a></p>
                <div class="file-group">
                    <label><input type="file" name="fields[]"></label>
                    <span>Unggah data</span>
                    <input type="text" placeholder="* .JPEG, .JPG, .PNG, .BMP, .GIF, .PDF (Size below 5 MB) " readonly="">
                    <div class="alert">Harap Unggah dokumen Anda</div>
                </div>
            </div>

			<div class="form-gdpr"> 
                <label for="chkAgree" class="lab">
                    <input type="checkbox" name="chkAgree" id="chkAgree" data-msg-required="Please check box to agree">
                    <span></span>
                </label>
                <label for="chkAgree">Saya menyetujui <a target="_blank" href="https://www.royalenfield.com/in/en/home/legal/terms-and-conditions/">syarat dan ketentuan</a> dan <a target="_blank" href="https://www.royalenfield.com/in/en/home/legal/privacy-policy/"> kebijakan privasi</a></label>

               <div class="alert agreeMsg">Harap terima syarat dan ketentuan dengan mencentang kotak centang untuk bergerak maju</div>
            </div>


			<div class="form-submit">
				<button class="custom-btn bor arrow-r clr-b">Menyerahkan</button>
			</div>
		</form>
	</div>
</body>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/form.js"></script>
</html>