<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
  </head>

  <body>
    <div
      leftmargin="0"
      topmargin="0"
      marginwidth="0"
      marginheight="0"
      style="font-family: Arial, Helvetica, sans-serif, serif, EmojiFont; background:#e9e9e9;"
    >
      <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#e9e9e9">
        <tbody>
          <tr>
            <td>
              <table
                width="725"
                border="0"
                cellpadding="0"
                cellspacing="0"
                align="center"
                style="margin-top:30px; margin-bottom:10px"
              >
                <tbody>
                  <tr>
                    <td width="100%" valign="top" bgcolor="#ffffff">
                      <table width="725" border="0" cellpadding="0" cellspacing="0" align="center">
                        <tbody>
                          <tr>
                            <td>
                              <table width="725" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                  <tr>
                                    <td width="20">&nbsp;</td>
                                    <td width="685">&nbsp;</td>
                                    <td width="20">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                      <table width="685" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                          <tr>
                                            <td width="153">
                                              <a
                                                href="https://royalenfield.com"
                                                style="display:block; vertical-align:top; border:none"
                                              >
                                                <img
                                                  src="<%= data.url%>/node/assets/images/logo.jpg"
                                                  alt=""
                                                  border="0"
                                                />
                                              </a>
                                            </td>
                                            <td width="532">&nbsp;</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                    <td>&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td valign="top" bgcolor="#ffffff" style="padding:0">
                              <img
                                src="<%= data.url%>/node/assets/images/header.jpg"
                                alt=""
                                style="display:block; vertical-align:top; border:none"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <table width="725" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                  <tr>
                                    <td width="20">&nbsp;</td>
                                    <td width="685">
                                      <table width="685" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;"
                                            >
                                              Dear <%= data.riderName %>,
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;"
                                            >
                                              Congratulations! You have successfully registered for <%= data.eventName
                                              %>.
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;"
                                            >
                                              For regular updates on <%= data.eventName %> stay tuned to our website.
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;"
                                            >
                                              If you need to reach out to us, do write to us at
                                              <a
                                                href="mailto:<%= data.eventEmail %>"
                                                style="color:#B30002;text-decoration: none;"
                                                ><%= data.eventEmail %></a
                                              >
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;"
                                            >
                                              For queries regarding merchandise, please write to us at
                                              <a
                                                href="mailto:gearsupport@royalenfield.com"
                                                style="color:#B30002;text-decoration: none;"
                                                >gearsupport@royalenfield.com</a
                                              >
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;"
                                            >
                                              <strong>Your Details</strong>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;"
                                            >
                                              Name : <%= data.riderName %>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;"
                                            >
                                              Email : <%= data.riderEmail %>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;"
                                            >
                                              Contact No : <%= data.phoneNo %>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;"
                                            >
                                              Registration Number : <%= data.orderId %>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;"
                                            >
                                              Amount Paid : <%= data.amountPaid %>
                                            </td>
                                          </tr>

                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;"
                                            >
                                              You'll need to carry a copy of this mail and valid photo ID (Driver's
                                              License, PAN card, Voter's ID etc) to enter the venue.
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;"
                                            >
                                              We look forward to seeing you at <%= data.eventName %>!
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td style="font-family: Arial, 'sans-serif';font-size:14px;color: #000000;">
                                              Best Regards, <br />Royal Enfield Team
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td height="1px" bgcolor="#cccccc"></td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;"
                                            >
                                              <strong>FOLLOW ROYAL ENFIELD</strong>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>
                                              <table width="685" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                  <tr>
                                                    <td>
                                                      <a href="https://royalenfield.com/" target="_blank">
                                                        <img
                                                          src="<%= data.url%>/node/assets/images/announcement-mailer_14.jpg"
                                                          alt="OFFICIAL WEBSITE"
                                                          style="display:block; vertical-align:top; border:none"
                                                        />
                                                      </a>
                                                    </td>
                                                    <td>
                                                      <a href="https://facebook.com/royalenfield" target="_blank">
                                                        <img
                                                          src="<%= data.url%>/node/assets/images/announcement-mailer_15.jpg"
                                                          alt="FACEBOOK"
                                                          style="display:block; vertical-align:top; border:none"
                                                        />
                                                      </a>
                                                    </td>
                                                    <td>
                                                      <a href="https://twitter.com/royalenfield" target="_blank">
                                                        <img
                                                          src="<%= data.url%>/node/assets/images/announcement-mailer_16.jpg"
                                                          alt="TWITTER"
                                                          style="display:block; vertical-align:top; border:none"
                                                        />
                                                      </a>
                                                    </td>
                                                    <td>
                                                      <a
                                                        href="https://plus.google.com/+royalenfield/posts"
                                                        target="_blank"
                                                      >
                                                        <img
                                                          src="<%= data.url%>/node/assets/images/announcement-mailer_17.jpg"
                                                          style="display:block; vertical-align:top; border:none"
                                                          alt="GOOGLE PLUS"
                                                        />
                                                      </a>
                                                    </td>
                                                    <td>
                                                      <a href="http://instagram.com/royalenfield" target="_blank">
                                                        <img
                                                          src="<%= data.url%>/node/assets/images/announcement-mailer_18.jpg"
                                                          style="display:block; vertical-align:top; border:none"
                                                          alt="INSTAGRAM"
                                                        />
                                                      </a>
                                                    </td>
                                                    <td>
                                                      <a
                                                        href="https://www.youtube.com/user/royalenfieldmedia"
                                                        target="_blank"
                                                        rel="noopener noreferrer"
                                                      >
                                                        <img
                                                          src="<%= data.url%>/node/assets/images/announcement-mailer_19.jpg"
                                                          style="display:block; vertical-align:top; border:none"
                                                          alt="YOUTUBE"
                                                        />
                                                      </a>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="font-size:11px; text-transform:uppercase;font-family: Arial, 'sans-serif';"
                                            >
                                              COPYRIGHT 2019 ROYAL ENFIELD RESERVED.
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                    <td width="20">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
