<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title></title>
</head>
<body>

<div leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="font-family: Arial, Helvetica, sans-serif, serif, EmojiFont; background:#e9e9e9;">
<table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#e9e9e9">
<tbody>
<tr>
<td>
<table width="725" border="0" cellpadding="0" cellspacing="0" align="center" style="margin-top:30px; margin-bottom:10px">
<tbody>
	<tr>
		<td width="100%" valign="top" bgcolor="#ffffff">
			<table width="725" border="0" cellpadding="0" cellspacing="0" align="center">
			<tbody>
				<tr>
					<td>
						<table width="725" border="0" cellspacing="0" cellpadding="0">
						  <tbody>
							<tr>
							  <td width="20">&nbsp;</td>
							  <td width="685">&nbsp;</td>
							  <td width="20">&nbsp;</td>
							</tr>
							<tr>
							  <td>&nbsp;</td>
							  <td>
								<table width="685" border="0" cellspacing="0" cellpadding="0">
								  <tbody>
									<tr>
									  <td width="153"><a href= "<%= data.url %>" style="display:block; vertical-align:top; border:none"><img src="<%= data.url%>/node/assets/images/logo.jpg" alt="" border="0"></a></td>
									  <td width="532">&nbsp;</td>
									</tr>
								  </tbody>
								</table>
							  </td>
							  <td>&nbsp;</td>
							</tr>
							<tr>
							  <td>&nbsp;</td>
							  <td>&nbsp;</td>
							  <td>&nbsp;</td>
							</tr>
						  </tbody>
						</table>
					</td>
				</tr>
			<tr>
			  <td valign="top" bgcolor="#ffffff" style="padding:0"><img src="<%= data.url%>/node/assets/images/header.jpg" alt="" style="display:block; vertical-align:top; border:none"></td>
			</tr>
			<tr>
			  <td>
				<table width="725" border="0" cellpadding="0" cellspacing="0">
				<tbody>
				<tr>
				  <td width="20">&nbsp;</td>
				  <td width="685"><table width="685" border="0" cellpadding="0" cellspacing="0">
					  <tbody>
						<tr>
						  <td>&nbsp;</td>
						</tr>
						<tr>
						  <td style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;">Here is the Career enquiry details</td>
						</tr>
						<tr>
						  <td>&nbsp;</td>
						</tr>
						<tr>
						  <td style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;">Name: <%= data.name %></td>
						</tr>
						<tr>
							<td style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;">Email: <%= data.email %></td>
						</tr>
						<tr>
						  <td style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;">Mobile Number :<%= data.mobile %></td>
						</tr>
						<tr>
						  <td style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;">Age: <%= data.age %> </td>
						</tr>
						<tr>
						  <td style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;">Year Of Experience: <%= data.yearOfExperience %></td>
						</tr>
						<tr>
						  <td style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;">Highest Qualification: <%= data.highestQualification %></td>
						</tr>
						<tr>
						  <td style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;">Secondary Qualification: <%= data.secondaryQualification %></td>
						</tr>
						<tr>
						  <td style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;">Industry: <%= data.Industry %></td>
						</tr>
						<tr>
						  <td style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;">Applying For: <%= data.functionApplyingFor %></td>
						</tr>
						<tr>
						  <td style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;">Key Skills: <%= data.keySkills %></td>
						</tr>
						<tr>
						  <td style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;">LinkedIn: <%= data.linkedIn %></td>
						</tr>
						  
						<tr>
						  <td style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;">Institute: <%= data.institute %></td>
						</tr>
						<tr>
						  <td>&nbsp;</td>
						</tr>
						<tr>
						  <td style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;">Resume attached in the mail</td>
						</tr>
						<tr>
						  <td>&nbsp;</td>
						</tr>
						<tr>
						  <td height="1px" bgcolor="#cccccc"></td>
						</tr>
						<tr>
						  <td>&nbsp;</td>
						</tr>
						<tr>
						  <td style="font-family: Arial, 'sans-serif';font-size: 14px;color: #000000;"><strong>FOLLOW ROYAL ENFIELD</strong></td>
						</tr>
						<tr>
						  <td>&nbsp;</td>
						</tr>
						<tr>
						  <td>
							<table width="685" border="0" cellspacing="0" cellpadding="0">
							  <tbody>
								<tr>
								  <td><a href="<%= data.url%>" target="_blank"><img src="<%= data.url%>/node/assets/images/announcement-mailer_14.jpg" alt="OFFICIAL WEBSITE" style="display:block; vertical-align:top; border:none"></a></td>
								  <td><a href="http://facebook.com/royalenfield" target="_blank" ><img  src="<%= data.url%>/node/assets/images/announcement-mailer_15.jpg" alt="FACEBOOK" style="display:block; vertical-align:top; border:none"></a></td>
								  <td><a href="https://twitter.com/royalenfield" target="_blank"><img  src="<%= data.url%>/node/assets/images/announcement-mailer_16.jpg" alt="TWITTER" style="display:block; vertical-align:top; border:none"></a></td>
								  <td><a href="https://plus.google.com/+royalenfield/posts" target="_blank"><img  src="<%= data.url%>/node/assets/images/announcement-mailer_17.jpg" style="display:block; vertical-align:top; border:none" alt="GOOGLE PLUS"></a></td>
								  <td><a href="http://instagram.com/royalenfield" target="_blank"><img  src="<%= data.url%>/node/assets/images/announcement-mailer_18.jpg" style="display:block; vertical-align:top; border:none" alt="INSTAGRAM"></a></td>
								  <td><a href="https://www.youtube.com/user/royalenfieldmedia" target="_blank" rel="noopener noreferrer"><img src="<%= data.url%>/node/assets/images/announcement-mailer_19.jpg" style="display:block; vertical-align:top; border:none" alt="YOUTUBE"></a></td>
								</tr>
							  </tbody>
							</table>
						  </td>
						</tr>
						<tr><td>&nbsp;</td></tr>
						<tr><td style="font-size:11px; text-transform:uppercase;font-family: Arial, 'sans-serif';">COPYRIGHT 2018 ROYAL ENFIELD RESERVED.</td></tr>
						<tr><td>&nbsp;</td></tr>
					  </tbody>
					</table>
				  </td>
				  <td width="20">&nbsp;</td>
				</tr>
			  </tbody>
			</table>
			  </td>
			</tr>

			</tbody>
			</table>
		</td>
	</tr>
</tbody>
</table>
</td>
</tr>
	</tbody>
</table>
</div>

	
</body>
</html>

